<% @invites.each do |invite| %>
  <% inviter = User.find(invite.user_id) %>
  <p><%= inviter.first_name %> <%= inviter.last_name %> has invited you to have a Couplify profile together.</p>

  <form action="<%= invite_url(invite) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" value="PUT" name="_method" />
    <input type="hidden" name="invite[accept_invitation]" value="true" />
    <button type="submit" class="btn btn-success">Accept</button>
  </form>

  <form action="<%= invite_url(invite) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" value="PUT" name="_method" />
    <input type="hidden" name="invite[accept_invitation]" value="false" />
    <button type="submit" class="btn btn-danger">Reject</button>
</form>
<% end %>