<div class="row" id="profile-cover">
  <div class="wrapper">
    <img src="/assets/cover-photo.jpg" alt="" id="cover-photo"/>
    <div class="box" style="padding-top: 20px;">
      <%= image_tag @u1.profile_image.url(:medium), :class => "user-profile-img" %>
      <img src="/assets/heart-shadow.jpg" alt="" id=""/>
      <h2><%= @u1.first_name.capitalize %></h2>
    </div>
    <div class="box">
      <img src="/assets/red-heart-icon.png" alt="" id="heart-profile-info"/>
      <div id="profile-info">
        <p>Email: <br /><span id="profile-name"><%= @couple.profile_name %>@couplify.me</span> <span class="glyphicon glyphicon-info-sign info-tooltip" id="email-info" data-placement="bottom" data-toggle="tooltip" title="Write your message in the subject line and send it to this email address to create a post" ></span></p>
        <p>Anniversary: <br /><span id="anniversary-date"><%= @couple.anniversary_date %></span></p>
      </div>
  
      <button data-toggle="tooltip" title="To be implemented" class="btn btn-primary info-tooltip" id="export-btn">Export Profile as PDF</button>
    </div>
    <div class="box" style="padding-top: 20px;">
      <%= image_tag @u2.profile_image.url(:medium), :class => "user-profile-img" %>
      <img src="/assets/heart-shadow.jpg" alt="" id=""/>
      <h2><%= @u2.first_name.capitalize %></h2>
    </div>
  </div>  
</div>

<div class="row">
  <div id="posts-div"></div>
</div>


<script type="text/template" id="posts-template">
  <%% _(posts).each(function(post){ %>
    <%%= renderSubPost({post: post}) %>
  <%% }); %>
</script>

<script type="text/template" id="post-template">
  <div class="post">
    <button class="delete-post close text-right" data-id="<%%= post.id %>" style="margin: 0px 5px 0px 5px;">&times;</button>
    <a href="/posts/<%%= post.id %>/edit" style="padding-top: 1px; float: right;">Edit</a>
    <div class="author-info">
      <%% if (Couplify.u1.id == post.user_id) { %>
        <img src="<%%= Couplify.u1.profile_image_url %>" alt="<%%= Couplify.u1.first_name %>" class="author-img" />
        <span class="text-left author-name"><%%= Couplify.u1.first_name %></span>
      <%% }else if (Couplify.u2.id == post.user_id){ %>
        <img src="<%%= Couplify.u2.profile_image_url %>" alt="<%%= Couplify.u2.first_name %>" class="author-img" />
        <span class="text-left author-name"><%%= Couplify.u2.first_name %></span>
      <%% } %>
      <span class="post-time"><%%= (new Date(post.created_at)).toLocaleTimeString("en-us", Couplify.date_options) %></span>
    </div>
    <p class="divider"></p>
    <div class="post-body">
      <p><%%= post.body %></p>
    </div>
    <img src="<%%= post.image_url %>" alt="" />
  </div>
</script>

<script type="text/json" id="bootstrapped-posts-json">
  { "posts": <%= @posts_data %> }
</script>


<script type="text/javascript">
  Couplify.COUPLE_ID = <%= @couple.id %>;
  Couplify.u1 = <%= @u1.basic_info_in_json %>;
  Couplify.u2 = <%= @u2.basic_info_in_json %>;
  Couplify.u1["profile_image_url"] = "<%= @u1.profile_image.url(:thumb) %>";
  Couplify.u2["profile_image_url"] = "<%= @u2.profile_image.url(:thumb) %>";
  Couplify.NUM_POSTS = <%= @num_posts %>;
  Couplify.date_options = {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
  }
  
</script>