<div class="row text-center" id="profile-cover">
  <img src="/assets/cover-photo.jpg" alt="" id="cover-photo"/>
  <div class="col-md-4" style="padding-top: 20px;">
    <%= image_tag @u1.profile_image.url(:medium), :class => "user-profile-img" %>
    <img src="/assets/heart-shadow.jpg" alt="" id=""/>
    <h2><%= @u1.first_name.capitalize %></h2>
  </div>
  <div class="col-md-4">
    <img src="/assets/red-heart-icon.png" alt="" id="heart-profile-info"/>
    <div id="profile-info">
      <p>Anniversary: <span id="anniversary-date"><%= @couple.anniversary_date %></span></p>
      <p>Email: <span id="profile-name"><%= @couple.profile_name %>@couplify.me</span></p>
    </div>
  </div>
  <div class="col-md-4" style="padding-top: 20px;">
    <%= image_tag @u2.profile_image.url(:medium), :class => "user-profile-img" %>
    <img src="/assets/heart-shadow.jpg" alt="" id=""/>
    <h2><%= @u2.first_name.capitalize %></h2>
  </div>
</div>

<div class="main-container">

  <div class="row">    
    <div id="posts-div"></div>
  </div>
</div>

<script type="text/template" id="posts-template">
  <%% _(posts).each(function(post){ %>
    <%%= renderSubPost({post: post}) %>
  <%% }); %>
</script>

<script type="text/template" id="post-template">
  <div class="post">
    <button class="delete-post close text-right" data-id="<%%= post.id %>" style="margin-right: 5px;">&times;</button>
    <div class="author-info">
      <%% if (u1.id == post.user_id) { %>
        <img src="<%= @u1.profile_image.url(:thumb) %>" alt="<%= @u1.first_name %>" class="author-img" />
        <span class="text-left author-name"><%%= u1.first_name %></span>
      <%% }else if (u2.id == post.user_id){ %>
        <img src="<%= @u1.profile_image.url(:thumb) %>" alt="<%= @u2.first_name %>" class="author-img" />
        <span class="text-left author-name"><%%= u2.first_name %></span>
      <%% } %>
      <span class="post-time"><%%= (new Date(post.created_at)).toLocaleTimeString("en-us", date_options) %></span>
    </div>
    <p class="divider"></p>
    <div class="post-body">
      <p><%%= post.body %></p>
    </div>
    <img src="<%%= post.image_url %>" alt="" />
  </div>
</script>

<script type="text/json" id="bootstraped-posts-json">
  { "posts": <%= @posts.to_json.html_safe %> }
</script>


<script type="text/javascript">
  var COUPLE_ID = <%= @couple.id %>;
  var u1 = <%= @u1.basic_info_in_json %>;
  var u2 = <%= @u2.basic_info_in_json %>;
  var NUM_POSTS = <%= @num_posts %>;
  var date_options = {
    weekday: "long", year: "numeric", month: "short",
    day: "numeric", hour: "2-digit", minute: "2-digit"
  }
  var $posts_container = $('#posts-div');
</script>
<script type="text/javascript" src="/assets/couplify_profile.js"></script>