<h2><%= @user.first_name %> <%= @user.last_name %> has invited you to join Couplify</h2>
<p>
  <%= @user.first_name %> says:
</p>
<p>
  <%= @invite.message %>
</p>
<a href="<%= root_url %>">Sign up here!</a>