<!DOCTYPE html>
<html>
<head>
  <title>Couplify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<% if current_user %>
  <%= current_user.first_name %>
  <%= button_to("Sign Out", destroy_user_session_url, 
      {:method => :delete, :class => "btn btn-primary"})%>
<% end %>

<div id="container">
  <div id="row">
    <%= yield %>
  </div>
</div>


</body>
</html>
