<!DOCTYPE html>
<html>
<head>
  <title>Couplify</title>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<% if current_user %>
  <%= current_user.first_name %>
  <%= image_tag current_user.profile_image.url(:thumb) %>
  <%= button_to("Sign Out", destroy_user_session_url, 
      {:method => :delete, :class => "btn btn-primary"})%>
<% end %>

<div id="container">
  <%= yield %>
</div>


</body>
</html>
